#buttons
{
    
    display: flex;
    justify-content: center;
    background-color: black;
    gap: 10px;
    height: 300px;
    width: 500px;

}
#buttons > div
{
   height: 100px;
   width: 100px;
   background-color:white ;
   border: 1px solid black;
   text-align: center;
 }

  